<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnakeS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SnakeS.Properties.Settings>
            <setting name="score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bg_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="player_color" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="head_color" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="power_color" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="grid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="difficulty" serializeAs="String">
                <value>300</value>
            </setting>
        </SnakeS.Properties.Settings>
    </userSettings>
</configuration>